.contact {
  text-align: right;
  padding: 2.5em;
}

.contact span {
  margin-left: 3em;
  color: white;
}

#logo > img {
  width: 240px;
  margin: auto;
  display: block;
}

body {
  background-color: #24c6d8;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}
