.contact {
  text-align: right;
  padding: 2.5em;
}

.contact span {
  margin-left: 3em;
  color: white;
}

@font-face {
  font-family: 'sans pro regular';
  src: url('SourceSansPro-Regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'sans pro light';
  src: url('SourceSansPro-Light-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'sans pro extralight';
  src: url('SourceSansPro-ExtraLight-webfont.woff2') format('woff2');
}

#logo > img {
  width: 240px;
  margin: auto;
  display: block;
}

h1 {
  display: block;
  font-family: 'sans pro extralight';
  font-size: 60px;
  color: #fff;
  margin: 50px auto 30px;
  font-weight: 200;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
  font-weight: 600px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
}

body {
  background-image: url('https://bankjoy.com/assets/images/backgrounds/background.jpg');
  font-family: 'sans pro regular';
  font-size: 19;
  font-weight: 300;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: blue;
}
